/* __________________________________________________ */
/* Jotter */
/* Obsidian Theme */
/* Created by @lngbc - (https://github.com/lnbgc/obsidian-jotter/) */

/* __________________________________________________ */

/* Inspired by THINGS and FUSION themes, created by @colineckert and @zamsyt respectively. */
/* Go check out their work at https://github.com/colineckert/obsidian-things and https://github.com/zamsyt/obsidian-fusion  */
/* v1.0.0 */
/* __________________________________________________ */

:root {
    --default-font: "Inter", Helvetica, sans-serif;
    /* You can download the Inter font for free: */
    /* https://fonts.google.com/specimen/Inter */
}

/* General Styling*/
body {
    --h1-size: 1.8em;
    --h2-size: 1.6em;
    --h3-size: 1.4em;
    --h4-size: 1.2em;
    --h5-size: 1em;
    --h6-size: 1em;

    --blue: #5f7cff;
    --yellow: #f5d3a1;

    --strong-color: var(--text-normal);
    --em-color: var(--text-normal);

    --bold-underline-color: var(--blue);
    --italic-underline-color: var(--yellow);
}

/* Dark Theme */
.theme-dark {
    --background-primary: rgb(18, 22, 36); /* main background (note, settings) */
    --background-primary-alt: hsl(228, 32%, 15%); /* code background, disabled buttons... */
    --background-secondary: rgb(18, 22, 36); /* sidebars & top bar */
    --background-secondary-alt: rgb(18, 22, 36); /* top bar (window focused) */

    --divider-color: var(--background-primary); /* dividers */

    --indentation-guide-color: hsla(227, 32%, 20%); 
    --indentation-guide-color-active: hsla(227, 20%, 50%);

    --scrollbar-active-thumb-bg: var(--background-primary-alt);
    --scrollbar-thumb-bg: var(--background-primary-alt);

    --background-modifier-hover: var(--background-primary-alt); /* active and hovered tabs */

    --background-modifier-border: hsla(227, 32%, 20%); /* tables outline, kanban lists and cards outline, canvas minimap & canvas buttons dividers outline, sliders */
    --background-modifier-border-hover: hsla(227, 32%, 30%); /* turned off toggles */

    --background-modifier-form-field: var(--background-primary); /* inputs (kanban, settings, search) */

    --icon-color: var(--text-faint);
    --icon-color-hover: var(--text-muted); 

    --nav-item-background-active: var(--background-primary-alt); /* active file background in explorer */

    --background-modifier-border-focus: var(--background-modifier-border); /* searchbar focus*/

    --text-selection: rgb(var(--text-rgb), .1);
    
    --interactive-normal: var(--background-modifier-border); /* buttons, selectors (canvas, settings...) */
    --interactive-hover: var(--background-modifier-border-hover); /* buttons, selectors hover color */
    
    --text-rgb: 195, 205, 250;
    --text-normal: rgb(var(--text-rgb));
    --text-muted: rgb(122, 129, 160);
    --text-faint: rgb(69, 75, 100);
    
    --h1-color: var(--text-normal);
    --h2-color: var(--text-accent);
    --h3-color: var(--text-normal);
    --h4-color: rgb(var(--text-rgb), .6);
    --h5-color: rgb(var(--text-rgb), .4);
    --h6-color: rgb(var(--text-rgb), .2);
}

/* Light Theme*/
.theme-light {
    --background-primary: rgb(240, 244, 254); /* main background (note, settings) */
    --background-primary-alt: rgb(226, 230, 245); /* code background, disabled buttons... */
    --background-secondary: rgb(241, 244, 254); /* sidebars & top bar */
    --background-secondary-alt: rgb(240, 244, 254); /* top bar (window focused) */
    
    --divider-color: var(--background-primary); /* dividers */
    
    --indentation-guide-color: hsla(227, 32%, 90%); 
    --indentation-guide-color-active: hsla(227, 20%, 70%);
    
    --scrollbar-active-thumb-bg: var(--background-primary-alt);
    --scrollbar-thumb-bg: var(--background-primary-alt);
    
    --background-modifier-hover: var(--background-primary-alt); /* active and hovered tabs */
    
    --background-modifier-border: hsla(227, 32%, 90%); /* tables outline, kanban lists and cards outline, canvas minimap & canvas buttons dividers outline, sliders */
    --background-modifier-border-hover: hsla(227, 32%, 85%); /* turned off toggles */
    
    --background-modifier-form-field: var(--background-primary); /* inputs (kanban, settings, search) */
    
    --icon-color: var(--text-faint);
    --icon-color-hover: var(--text-muted); 
    
    --nav-item-background-active: var(--background-primary-alt); /* active file background in explorer */
    
    --background-modifier-border-focus: var(--background-modifier-border); /* searchbar focus*/
    
    --text-selection: rgb(var(--text-rgb), .1);
    
    --interactive-normal: var(--background-modifier-border); /* buttons, selectors (canvas, settings...) */
    --interactive-hover: var(--background-modifier-border-hover); /* buttons, selectors hover color */
    
    --text-rgb: 11, 14, 20;
    --text-normal: rgb(var(--text-rgb));
    --text-muted: rgb(122, 129, 160);
    --text-faint: rgb(186, 189, 203);

    --h1-color: var(--text-normal);
    --h2-color: var(--text-accent);
    --h3-color: var(--text-normal);
    --h4-color: rgb(var(--text-rgb), .6);
    --h5-color: rgb(var(--text-rgb), .4);
    --h6-color: rgb(var(--text-rgb), .2);
}

/* H2 styling */
body.h2-underline h2,
body.h2-underline .HyperMD-header.HyperMD-header-2.cm-line {
    border-bottom: 2px solid var(--h2-color);
    width: 100%;
    padding-bottom: 3px;
}

/* H3 styling */
body.h3-italics h3,
body.h3-italics .HyperMD-header.HyperMD-header-3 {
    font-style: italic;
}

/* Bold font */
body strong,
body span.cm-strong {
    color: var(--strong-color);
}

/* Bold underline */
body.bold-underline strong,
body.bold-underline span.cm-strong {
    border-bottom: 5.5px solid var(--bold-underline-color);
}

/* Italics */
body em,
body span.cm-em {
    color: var(--em-color);
}

/* Italics underline */
body.em-underline em,
body.em-underline span.cm-em {
    border-bottom: 5.5px solid var(--italic-underline-color);
}

/* Highlighted Text */
.cm-highlight,
mark {
    border-radius: 5px;
    padding: .1em .4em;
}

/* Completed checkboxes */
.markdown-preview-view ul>li.task-list-item.is-checked,
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task='x'],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task='X'] {
    text-decoration: none;
    color: var(--text-faint);
}

/* Kanban - Board */
.kanban-plugin {
    --dot-color: hsl(0 0% 40% / 25%);
    --dot-spacing: 9px;
    --dot-size: 1px;
}

.kanban-plugin__board {
    background-image: radial-gradient(circle,
            var(--dot-color) var(--dot-size),
            transparent var(--dot-size));
    border-top: var(--thin-border);
    background-size: var(--dot-spacing) var(--dot-spacing);
    background-attachment: local;
}

/* Kanban - Card outline */
.kanban-plugin__item {
    border: 2px solid rgb(var(--text-rgb), .1);
}

/* Kanban - Ajusting add card button */
.kanban-plugin__item-button-wrapper button:not(.clickable-icon) {
    box-shadow: none;
    border: 1.5px solid rgb(var(--text-rgb), .1);
}

/* Kanban - Adjusting add list buttons */
.kanban-plugin__lane-input-actions>button {
    color: var(--text-normal);
    background-color: var(--background-primary);
}

.kanban-plugin__lane-input-actions .kanban-plugin__lane-action-add:hover {
    color: var(--background-primary);
}

.kanban-plugin__lane-input-actions .kanban-plugin__lane-action-cancel:hover {
    background-color: var(--hr-color);
}

/* Kanban - List styles - Dark */
.theme-dark .kanban-plugin__lane {
    background-color: var(--background-primary);
}

/* Kanban - Card styles - Dark */
.theme-dark .kanban-plugin__item-title-wrapper {
    background-color: var(--background-primary-alt);
}

/* Kanban - List styles - Light */
.theme-light .kanban-plugin__lane {
    background-color: var(--background-primary-alt);
}

/* Kanban - Card styles - Light */
.theme-light .kanban-plugin__item-title-wrapper {
    background-color: var(--background-primary);
}


/* @settings
name: Jotter
id: jotter-style
settings:
    -
        id: headings
        title: Headings
        type: heading
        level: 2
        collapsed: true
    -
        id: colors-headings
        title: Colors
        type: heading
        level: 3
        collapsed: true
    -
        title: H1 color
        id: h1-color
        type: variable-color
        format: hex
        default: '#'
    -
        title: H2 color
        id: h2-color
        type: variable-color
        format: hex
        default: '#'
    -
        title: H3 color
        id: h3-color
        type: variable-color
        format: hex
        default: '#'
    -
        title: H4 color
        id: h4-color
        type: variable-color
        format: hex
        default: '#'
    -
        title: H5 color
        id: h5-color
        type: variable-color
        format: hex
        default: '#'
    -
        title: H6 color
        id: h6-color
        type: variable-color
        format: hex
        default: '#'
    -
        id: styling-headings
        title: Styling
        type: heading
        level: 3
        collapsed: true
    -
        title: H2 underline
        id: h2-underline
        description: Toggle H2 underline
        type: class-toggle
        default: false
    -
        title: H3 italics
        id: h3-italics
        description: Toggle H3 italics
        type: class-toggle
        default: true
    -
        id: typography
        title: Typography
        type: heading
        level: 2
        collapsed: true
    -
        id: bold-text-typography
        title: Bold text
        type: heading
        level: 3
        collapsed: true
    -
        id: strong-color
        title: Bold font color
        type: variable-color
        format: hex
        default: '#' 
    -
        id: bold-underline
        title: Bold underline
        description: Toggle bold underline
        type: class-toggle
        default: true
    -
        id: bold-underline-color
        title: Bold underline color
        description: Change bold underline color
        type: variable-color
        format: hex
        default: '#5f7cff' 
    -
        id: italic-text-typography
        title: Italic text
        type: heading
        level: 3
        collapsed: true
    -
        id: em-color
        title: Italics color
        type: variable-color
        format: hex
        default: '#' 
    -
        id: em-underline
        title: Italics underline
        description: Toggle italics underline
        type: class-toggle
        default: true
    -
        id: italic-underline-color
        title: Italics underline color
        description: Change italics underline color
        type: variable-color
        format: hex
        default: '#f5d3a1' 
    -
*/