/* __________________________________________________ */
/* Jotter */
/* Obsidian Theme */
/* Created by @lngbc - (https://github.com/lnbgc/obsidian-jotter/) */

/* __________________________________________________ */

/* Inspired by THINGS and FUSION themes, created by @colineckert and @zamsyt respectively. */
/* Go check out their work at https://github.com/colineckert/obsidian-things and https://github.com/zamsyt/obsidian-fusion  */
/* v1.0.0 */
/* __________________________________________________ */

:root {
    --default-font: "Inter", Helvetica, sans-serif;
    /* You can download the Inter font for free: */
    /* https://fonts.google.com/specimen/Inter */
}

/* General Styling*/
body {
    --h1-size: 1.8em;
    --h2-size: 1.6em;
    --h3-size: 1.4em;
    --h4-size: 1.2em;
    --h5-size: 1em;
    --h6-size: 1em;
}

/* Dark Theme */
.theme-dark {
    --background-primary: rgb(18, 22, 36); /* main background (note, settings) */
    --background-primary-alt: hsla(227, 32%, 15%); /* code background, disabled buttons... */
    --background-secondary: rgb(18, 22, 36); /* sidebars & top bar */
    --background-secondary-alt: rgb(18, 22, 36); /* top bar (window focused) */

    --divider-color: var(--background-primary); /* dividers */

    --indentation-guide-color: var(--background-modifier-border); 
    --indentation-guide-color-active: var(--background-modifier-border-hover);

    --scrollbar-active-thumb-bg: var(--background-primary-alt);
    --scrollbar-thumb-bg: var(--background-primary-alt);

    --background-modifier-hover: var(--background-primary-alt); /* active and hovered tabs */

    --background-modifier-border: hsla(227, 32%, 20%); /* tables outline, kanban lists and cards outline, canvas minimap & canvas buttons dividers outline, sliders */
    --background-modifier-border-hover: hsla(227, 32%, 30%); /* turned off toggles */

    --background-modifier-form-field: var(--background-primary); /* inputs (kanban, settings, search) */

    --background-modifier-box-shadow: hsla(227, 5%, 7%); /* tooltips shadows */

    --icon-color: var(--text-faint);
    --icon-color-hover: var(--text-muted); 

    --nav-item-background-active: var(--background-primary-alt); /* active file background in explorer */

    --background-modifier-border-focus: var(--background-modifier-border); /* searchbar focus*/

    --text-selection: var(--background-modifier-border);

    --interactive-normal: var(--background-modifier-border); /* buttons, selectors (canvas, settings...) */
    --interactive-hover: var(--background-modifier-border-hover); /* buttons, selectors hover color */
    
    --text-rgb: 195, 205, 250;
    --text-normal: rgb(var(--text-rgb));
    --text-muted: rgb(122, 129, 160);
    --text-faint: rgb(69, 75, 100);

    --h1-color: var(--text-normal);
    --h2-color: var(--text-accent);
    --h3-color: var(--text-normal);
    --h4-color: rgb(var(--text-rgb), .6);
    --h5-color: rgb(var(--text-rgb), .4);
    --h6-color: rgb(var(--text-rgb), .2);
}

/* Light Theme*/
.theme-light {}
